################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/wui/v15
/x64/Debug
/x64/Release
/Debug
/examples/simple/x64/Debug
/Release
/examples/simple/x64/Release
/build/
/examples/simple/Debug
/examples/simple/Release/simple.tlog
/examples/simple/Release
