################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/x64/Debug
/x64/Release
/Debug
/examples/simple/x64/Debug
/Release
/examples/simple/x64/Release
/build/
/examples/simple/Debug
/examples/simple/Release/simple.tlog
/examples/simple/Release
CMakeFiles/
src/CMakeFiles
cmake_install.cmake
CMakeCache.txt
Makefile
src/libwui.a
examples/simple/simple
examples/demo/demo
/examples/demo/x64/Debug
examples/hello_world/hello_world
/examples/demo/x64/Release
/examples/hello_world/x64/Release
/examples/hello_world/x64/Debug
/examples/hello_world/Release
/examples/demo/Release
/Debug(v141_xp)
/examples/demo/Debug
/examples/demo/x64/Debug(v141_xp)
/examples/hello_world/x64/Debug(v141_xp)
/examples/simple/Debug(v141_xp)
/examples/simple/x64/Debug(v141_xp)
/Release(v141_xp)
/x64/Debug(v141_xp)
/examples/demo/x64/Release(v141_xp)
/examples/hello_world/x64/Release(v141_xp)
/examples/simple/Release(v141_xp)
/examples/simple/x64/Release(v141_xp)
/x64/Release(v141_xp)
/examples/hello_world/Release(v141_xp)
/examples/demo/Debug(v141_xp)
/examples/demo/Release(v141_xp)
/examples/hello_world/Debug
/examples/hello_world/Debug(v141_xp)
/doc/.vs
/wui/x64/Release
/wui/Debug
/wui/Release
/wui/x64/Debug
