
/.vs
/doc/.vs
*.aps
*.suo
*.sln.docstates
#*.tlog
*.log
*.rsuser
*.user
*.userosscache
[Dd]ebug/
[Rr]elease/
[Dd]ebug(v141_xp)
[Rr]elease(v141_xp)
x64/[Dd]ebug
x64/[Rr]elease
x64/[Rr]elease(v141_xp)
x64/[Dd]ebug(v141_xp)
/wui/

**/build/
/out/
/.qwen

#CMakeFiles/
#src/CMakeFiles
#cmake_install.cmake
CMakeCache.txt
Makefile
examples/simple/simple
examples/demo/demo
examples/hello_world/hello_world

src/libwui.a
